body {
  overflow-y: hidden;
}

#description {
  padding: .5%;
  border-radius: 8px;
  padding-right: calc(var(--bs-gutter-x) * .2);
  padding-left: calc(var(--bs-gutter-x) * .2);
}

@media screen and (max-width: 768px) {
  #content {
    margin-top: 40%;
  }

  h1 {
    font-size: 20pt;
  }

  p {
    font-size: 14pt;
  }

  #footerPlaceholder {
    font-size: 14pt;
  }
}