body {
  height: 200vh;
}

.card {
  background-color: #fefefe8a;
  background-size: cover;
}

#cardContainer {
  margin-bottom: 20%;
}

.blockquote-footer {
  margin-top: 2%;
  font-style: italic;
  font-size: 12pt;
}

i {
  float: right;
}

.navbar {
  /* display: none; */
}